footer{
  padding:50px 95px 30px 95px;
  background-color: #000;
}

footer .footerContent{
    display: flex;
    gap: 60px;
    padding-bottom: 80px;
}

footer .imageWrapper{
    width: 98px;
    height: 90px;
    max-width: 100%;
}

footer .imageWrapper img{
width: 100%;
  height: 100%;
  object-fit: cover;
 }

footer ul{
    list-style: none;
}

footer p{
    padding-top: 1.6666666666666667rem;
    
    padding-bottom: 0.5555555555555556rem;
    font-size: 39px;
    font-weight: 400;
    color:#fff;

}

footer a{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.7777777777778;
    
    color:#fff;
}

footer .footerLogo{
   width:25%; 
}
footer .certified{
    width:25%; 
 }

 footer .company{
    width:25%; 
 }


 footer .socialMedia{
    width:25%; 
 }


 footer .footerForm{
     display: flex;
     flex-direction: column;
     justify-content: end;
     align-items: end;
 }
  footer .footerForm p{
      font-size: 22px;
      padding-bottom: 20px;
      padding-right: 265px;
  }


  .footerForm form input{
      padding: 12px 15px;
      font-size: 18px;
      color: #ffffff;
      background-color: #000;
      border-color: #ffffff;
      outline: 0;
      margin-right: 10px;
  }

  
  .footerForm form a{
    padding: 12px 67px;
    font-size: 18px;
    color: #000;
    background-color: yellow;
    border-color: #ffffff;
    text-align: center;
  }

  .footerForm form input:hover{
      background-color: #ffffff;
  }

  .footerForm form a:hover{
    background-color: #ffffff;
    
  }